<div class="face-snap-card" [ngClass]="{snapped : (btnText != 'J\'aime')}">

  <h2>{{ faceSnap.title | titlecase }}</h2>
  <p>{{ faceSnap.description }}</p>
  <p>Mise en ligne le : <strong>{{ faceSnap.createDate | date: 'à HH:mm, le d MMMM yyyy' }}</strong> </p>
  <p><button  (click)=" onSnap()" >{{ btnText }}</button></p>
  <p>Nombre de like : <span [ngStyle]="{color : 'rgb(0,'+faceSnap.snap+',0)'}" >{{ faceSnap.snap }}</span></p>
  <p *ngIf="faceSnap.location ">Image du site de : <b>{{ faceSnap.location }}</b></p>
  <p>{{ 344.45 | currency: 'EUR' }}</p>
  <img [src]="faceSnap.imgaeUrl" [alt]="faceSnap.title" srcset="">
</div>


